<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    Empowering Zach Goldstein
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>